/* ---------------------- */
/* Components             */
/* ---------------------- */

/* FOOTER */

.footer {
    padding: 1.25em 2.25em;
    justify-content: center;
    text-align: center;
    background-color: var(--clr-accent);
    color: var(--clr-background-light);
    width: 100%;
  }
  
  .footer--link {
    text-decoration: none;
    color: inherit;
  }
  
  .footer--link:hover {
    text-decoration: underline;
    color: inherit;
  }
  